<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfToOfficeApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PdfToOfficeApp.Properties.Settings>
            <setting name="IsOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>KO_KR</value>
            </setting>
            <setting name="UserDir" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSaveToUserDir" serializeAs="String">
                <value>False</value>
            </setting>
        </PdfToOfficeApp.Properties.Settings>
    </userSettings>
</configuration>